# Log directory and data file structure
# <LOGS_DIRECTORY> /
#         <CURRENT_DATE> /
#              <CURRENT_DATE>-<LOCATION_IDENTIFICATION>-<SERIAL_PORT_TYPE_SEMANTIC>-<SERIAL_PORT_1_NAME>.message type
# Example:
# /logs/20070904/20070904-KOUN-nc-RR-1.1.mca.csv

LOG_DIRECTORY = /logs
LOCATION_IDENTIFICATION = KOUN-nc

#####################################################################
# Serial Input Output Settings
#####################################################################

# For variable declaration purposes their numbers 
# are defined in laas.h and set at compile time.
# MAX_NUMBER_OF_GG12S               9
# MAX_NUMBER_OF_BLINES              0
# MAX_NUMBER_OF_GPS                 9    /* GG12 + BLINE + CMC + ... */
# MAX_NUMBER_OF_TELERADS            2
# MAX_NUMBER_OF_FAR_FIELD_MONITORS  2
# MAX_NUMBER_OF_SERIAL_DEVICES     13    /* GPS_DEVICES + TELERADS + FFM... */

# The default options can be set to configure all the ports the same.
# The TTY option takes the starting UNIX tty port number and increments each by 1
SERIAL_PORT_DEFAULT_TTY  = 4
SERIAL_PORT_DEFAULT_BAUD = 115200
# General status output logging
SERIAL_PORT_DEFAULT_LOGGING_CONSOLE = ON
# Raw data stream coming from the port
SERIAL_PORT_DEFAULT_LOGGING_RAW = ON
# Parse the data coming in.
SERIAL_PORT_DEFAULT_PARSING = ON
# One data file that contains all the message transactions 
# in the order that they occurred
SERIAL_PORT_DEFAULT_TRANSACTION_LOG = OFF
# Turn parsing of the following GG12 Messages on or off
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_MCA = ON
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_MIS = ON
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_PBN = ON
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_SAL = ON
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_SNV = ON
SERIAL_PORT_DEFAULT_GG12_LOGGING_PARSED_XYZ = ON
# Turn parsing of the following GG12 Messages on or off
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_MCA = ON
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_MIS = ON
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_PBN = ON
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_SAL = ON
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_SNV = ON
SERIAL_PORT_DEFAULT_GG12W_LOGGING_PARSED_XYZ = ON

# Turn parsing of the following GG12 Messages on or off
SERIAL_PORT_DEFAULT_ZXTREME_LOGGING_PARSED_MPC = ON
SERIAL_PORT_DEFAULT_ZXTREME_LOGGING_PARSED_PBN = ON

# The default data source is reading data from the serial port.
# If data needs to be read from a file for testing then the data
# source should be set to FILE and the SERIAL PORT TTY should point
# to the file that should be open and read.

#DATA_SOURCE = SERIAL
DATA_SOURCE = FILE

# If the data is read from a file the file name of the file being read
# should be provided in the SERIAL_PORT_#_TTY value for each port.
#SERIAL_PORT_1_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-1.1.raw
#SERIAL_PORT_2_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-1.2.raw
#SERIAL_PORT_3_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-2.1.raw
#SERIAL_PORT_4_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-2.2.raw
#SERIAL_PORT_5_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-3.1.raw
#SERIAL_PORT_6_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-3.2.raw
#SERIAL_PORT_7_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-4.1.raw
#SERIAL_PORT_8_TTY  = /logs/20080206/20080206-KOUN-PROD-RR-4.2.raw
#SERIAL_PORT_9_TTY  = /logs/20080206/20080206-KOUN-PROD-LM-1.raw
SERIAL_PORT_1_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-2.1.raw
SERIAL_PORT_2_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-2.2.raw
SERIAL_PORT_3_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-2.1.raw
SERIAL_PORT_4_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-2.2.raw
SERIAL_PORT_5_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-4.1.raw
SERIAL_PORT_6_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-4.2.raw
SERIAL_PORT_7_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-4.1.raw
SERIAL_PORT_8_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-4.2.raw
SERIAL_PORT_9_TTY  = /logs/20080206/raw/20080206-KOUN-PROD-RR-2.2.raw


# SERIAL_PORT_1_TTY  = /logs/data/1.raw
# SERIAL_PORT_2_TTY  = /logs/data/2.raw
# SERIAL_PORT_3_TTY  = /logs/data/3.raw
# SERIAL_PORT_4_TTY  = /logs/data/4.raw
# SERIAL_PORT_5_TTY  = /logs/data/5.raw
# SERIAL_PORT_6_TTY  = /logs/data/6.raw
# SERIAL_PORT_7_TTY  = /logs/data/7.raw
# SERIAL_PORT_8_TTY  = /logs/data/8.raw
# SERIAL_PORT_9_TTY  = /logs/data/9.raw
# SERIAL_PORT_10_TTY  = /logs/data/10.raw
# SERIAL_PORT_11_TTY  = /logs/data/11.raw
# SERIAL_PORT_12_TTY  = /logs/data/12.raw
# SERIAL_PORT_13_TTY  = /logs/20070918/20070918-KOUN-nc-TELERAD_RECEIVER-1.raw

#SERIAL_PORT_1_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-1.1.raw
#SERIAL_PORT_2_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-1.2.raw
#SERIAL_PORT_3_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-2.1.raw
#SERIAL_PORT_4_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-2.2.raw
#SERIAL_PORT_5_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-3.1.raw
#SERIAL_PORT_6_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-3.2.raw
#SERIAL_PORT_7_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-4.1.raw
#SERIAL_PORT_8_TTY  = /logs/data/20070920/20070920-KOUN-QA-RR-4.2.raw
#SERIAL_PORT_9_TTY  = /logs/data/20070920/20070920-KOUN-QA-LM-1.raw

# Each port has to specify 
# SERIAL_PORT_1_TYPE
# SERIAL_PORT_1_TYPE_SEMANTIC
# SERIAL_PORT_1_NAME
#
# Types to be supported:
# GG12, GG12W, TELERAD, FFM, BLINE, ZXTREAM, RAW

# Reference Receiver 1
# Helibowl
SERIAL_PORT_1_TYPE = GG12
SERIAL_PORT_1_TYPE_SEMANTIC = RR
SERIAL_PORT_1_NAME = 1.1

# Dipole
#SERIAL_PORT_2_LOGGING_RAW = OFF
SERIAL_PORT_2_TYPE = GG12
SERIAL_PORT_2_TYPE_SEMANTIC = RR
SERIAL_PORT_2_NAME = 1.2

# Reference Receiver 2
# Helibowl
SERIAL_PORT_3_TYPE = GG12
SERIAL_PORT_3_TYPE_SEMANTIC = RR
SERIAL_PORT_3_NAME = 2.1

# Dipole
SERIAL_PORT_4_TYPE = GG12
SERIAL_PORT_4_TYPE_SEMANTIC = RR
SERIAL_PORT_4_NAME = 2.2

# Reference Receiver 3
# Helibowl
SERIAL_PORT_5_TYPE = GG12
SERIAL_PORT_5_TYPE_SEMANTIC = RR
SERIAL_PORT_5_NAME = 3.1

# Dipole
SERIAL_PORT_6_TYPE = GG12
SERIAL_PORT_6_TYPE_SEMANTIC = RR
SERIAL_PORT_6_NAME = 3.2

# Reference Receiver 4
# Helibowl
SERIAL_PORT_7_TYPE = GG12
SERIAL_PORT_7_TYPE_SEMANTIC = RR
SERIAL_PORT_7_NAME = 4.1

# Dipole
SERIAL_PORT_8_TYPE = GG12
SERIAL_PORT_8_TYPE_SEMANTIC = RR
SERIAL_PORT_8_NAME = 4.2

## Local Monitor
SERIAL_PORT_9_TYPE = GG12
SERIAL_PORT_9_TYPE_SEMANTIC = LM
SERIAL_PORT_9_NAME = 1

## Local Monitor
#SERIAL_PORT_10_TYPE = GG12
#SERIAL_PORT_10_TYPE_SEMANTIC = LM
#SERIAL_PORT_10_NAME = 2

## Testbed
#SERIAL_PORT_11_TYPE = GG12W
#SERIAL_PORT_11_TYPE_SEMANTIC = TB-GG12W
#SERIAL_PORT_11_NAME = 1

## Testbed
#SERIAL_PORT_12_TYPE = GG12
#SERIAL_PORT_12_TYPE_SEMANTIC = TB-GG12
#SERIAL_PORT_12_NAME = 1

## ZXTREME
#SERIAL_PORT_13_TYPE = ZXTREME
#SERIAL_PORT_13_TYPE_SEMANTIC = Z-XTREME
#SERIAL_PORT_13_NAME = 1

## Local Monitor
#SERIAL_PORT_14_TYPE = TELERAD
#SERIAL_PORT_14_TYPE_SEMANTIC = TELERAD_RECEIVER
#SERIAL_PORT_14_NAME = 1

## Far Field Monitor
#SERIAL_PORT_10_TYPE = FFM
#SERIAL_PORT_10_TYPE_SEMANTIC = FFM
#SERIAL_PORT_10_NAME = 1
#SERIAL_PORT_10_TTY  = /dev/ttyS5
#
## Telerad VDB Transmitter
#SERIAL_PORT_11_TYPE = TELERAD
#SERIAL_PORT_11_TYPE_SEMANTIC = TRANSMITTER
#SERIAL_PORT_11_NAME = 1
#SERIAL_PORT_11_TTY  = /dev/ttyS6

#####################################################################
# Reference Receiver Locations
#####################################################################
# CEC ROOF 
# X =  -675846.6843;
# Y = -5173307.6231;
# Z =  3657198.7184;

RS_01_X = -678038.598
RS_01_Y = -5171444.329
RS_01_Z = 3659380.029
RS_01_LATITUDE  = 35.23494687
RS_01_LONGITUDE = -97.46955931
RS_01_ALTITUDE  = 332.9783
RS_02_X = -678038.598
RS_02_Y = -5171444.329
RS_02_Z = 3659380.029
RS_02_LATITUDE  = 35.23494687
RS_02_LONGITUDE = -97.46955931
RS_02_ALTITUDE  = 332.9783
RS_03_X = -677866.347
RS_03_Y = -5171233.303
RS_03_Z = 3659708.051
RS_03_LATITUDE  = 35.238566115
RS_03_LONGITUDE = -97.46798444
RS_03_ALTITUDE  = 333.0466
RS_04_X = -677866.347
RS_04_Y = -5171233.303
RS_04_Z = 3659708.051
RS_04_LATITUDE  = 35.238566115
RS_04_LONGITUDE = -97.46798444
RS_04_ALTITUDE  = 333.0466
LM_01_X = -678038.598
LM_01_Y = -5171444.329
LM_01_Z = 3659380.029
LM_01_LATITUDE  = 35.23494687
LM_01_LONGITUDE = -97.46955931
LM_01_ALTITUDE  = 332.9783

# 02/14/2008 Locations
# RS_01_X = -678443.359
# RS_01_Y = -5170372.022
# RS_01_Z = 3660817.930
# RS_01_LATITUDE  = 35.25078713
# RS_01_LONGITUDE = -97.47550046
# RS_01_ALTITUDE  = 337.3713
# RS_02_X = -678697.236
# RS_02_Y = -5171197.803
# RS_02_Z = 3659613.187
# RS_02_LATITUDE  = 35.23748889
# RS_02_LONGITUDE = -97.47708550
# RS_02_ALTITUDE  = 337.8212
# RS_03_X = -678687.665
# RS_03_Y = -5171202.177
# RS_03_Z = 3659608.317
# RS_03_LATITUDE  = 35.23743696
# RS_03_LONGITUDE = -97.47697500
# RS_03_ALTITUDE  = 337.5363
# RS_04_X = -678706.932
# RS_04_Y = -5171196.833
# RS_04_Z = 3659610.666
# RS_04_LATITUDE  = 35.23746877
# RS_04_LONGITUDE = -97.47719250
# RS_04_ALTITUDE  = 336.6117
# LM_01_X = -677736.175
# LM_01_Y = -5171015.741
# LM_01_Z = 3660053.531
# LM_01_LATITUDE  = 35.24231912
# LM_01_LONGITUDE = -97.46687713
# LM_01_ALTITUDE  = 342.3904

# 02/05/2008 Locations
# RS_01_X = -678443.359
# RS_01_Y = -5170372.022
# RS_01_Z = 3660817.930
# RS_01_LATITUDE  = 35.25078712545
# RS_01_LONGITUDE = -97.47550046373
# RS_01_ALTITUDE  = 337.3713
# RS_02_X = -678038.598
# RS_02_Y = -5171444.329
# RS_02_Z = 3659380.029
# RS_02_LATITUDE  = 35.23494687
# RS_02_LONGITUDE = -97.46955931
# RS_02_ALTITUDE  = 332.9783
# RS_03_X = -678687.665
# RS_03_Y = -5171202.177
# RS_03_Z = 3659608.317
# RS_03_LATITUDE  = 35.2374369603931
# RS_03_LONGITUDE = -97.47697499663
# RS_03_ALTITUDE  = 337.5363
# RS_04_X = -677866.347
# RS_04_Y = -5171233.303
# RS_04_Z = 3659708.051
# RS_04_LATITUDE  = 35.238566115
# RS_04_LONGITUDE = -97.46798444
# RS_04_ALTITUDE  = 333.0466
# LM_01_X = -677736.175
# LM_01_Y = -5171015.741
# LM_01_Z = 3660053.531
# LM_01_LATITUDE  = 35.24231911509
# LM_01_LONGITUDE = -97.4668771304
# LM_01_ALTITUDE  = 342.3904

#RS_01_SECTOR_MASK_01_MINIMUM_ELEVATION = 37.00
#RS_01_SECTOR_MASK_01_MAXIMUM_ELEVATION = 38.00
#RS_01_SECTOR_MASK_01_MINIMUM_AZIMUTH = 39.00
#RS_01_SECTOR_MASK_01_MAXIMUM_AZIMUTH = 40.00
#
#RS_01_SECTOR_MASK_02_MINIMUM_ELEVATION = 41.00
#RS_01_SECTOR_MASK_02_MAXIMUM_ELEVATION = 42.00
#RS_01_SECTOR_MASK_02_MINIMUM_AZIMUTH = 43.00
#RS_01_SECTOR_MASK_02_MAXIMUM_AZIMUTH = 44.00

#LM_01_X = 25
#LM_01_Y = 26
#LM_01_Z = 27
#LM_01_LATITUDE  = 28
#LM_01_LONGITUDE = 29
#LM_01_ALTITUDE  = 30
#
#LM_01_SECTOR_MASK_01_MINIMUM_ELEVATION = 45.00
#LM_01_SECTOR_MASK_01_MAXIMUM_ELEVATION = 46.00
#LM_01_SECTOR_MASK_01_MINIMUM_AZIMUTH = 47.00
#LM_01_SECTOR_MASK_01_MAXIMUM_AZIMUTH = 48.00

FFM_01_X = 31
FFM_01_Y = 32
FFM_01_Z = 33
FFM_01_LATITUDE  = 31
FFM_01_LONGITUDE = 32
FFM_01_ALTITUDE  = 33

FFM_02_X = 34
FFM_02_Y = 35
FFM_02_Z = 36
FFM_02_LATITUDE  = 37
FFM_02_LONGITUDE = 38
FFM_02_ALTITUDE  = 39

FFM_02_SECTOR_MASK_01_MINIMUM_ELEVATION = 49.00
FFM_02_SECTOR_MASK_01_MAXIMUM_ELEVATION = 50.00
FFM_02_SECTOR_MASK_01_MINIMUM_AZIMUTH = 51.00
FFM_02_SECTOR_MASK_01_MAXIMUM_AZIMUTH = 52.00

#####################################################################
# Telerad Settings                                                  #
#####################################################################

TELERAD_PACKET_SYNC = 0xFF00

# 0b10000000 0x80 CAT-I messages will be transmiteed in slot a
# 0b11000000 0xC0 CAT-I messages will be transmiteed in slot a and b
# 0b01001000 0x48 CAT-I messages will be transmiteed in slot b and e
# 0b10101010 0xAA CAT-I messages will be transmiteed in slot a, c, e, and g
# 0b10001000 0x88 CAT-I messages will be transmiteed in slot a and d
# 0b01010101 0x55 CAT-I messages will be transmiteed in slot b, d, f, and h
#TELERAD_TDMA_SLOT = 0x01
# Message Type 4/2 then 1
TELERAD_TDMA_SLOT = 0x55

# Input range from 108.025 to 117.950MHz
TELERAD_FREQUENCY = 113.550

# Desired power level in dBm. Field is computed as:
# Range 40 dBm to 49 dBm
TELERAD_OUTPUT_POWER = 40

#####################################################################
# LAAS Message Header Parameters                                    #
#####################################################################

# 0xAA = Normal LAAS Message
# 0xFF = Test LAAS Message
LAAS_MESSAGE_BLOCK_IDENTIFIER = 0xAA

#LAAS_GBAS_ID = KOUN
LAAS_GBAS_ID = CHAD

#####################################################################
# LAAS Message Type 2 Parameters                                    #
# GBAS Related Data                                                 #
#####################################################################

LMT2_GROUND_STATION_REFERENCE_RECEIVERS = 4

# Range 0 = A, 1 = B, 2 = C, 3 = Spare
LMT2_GROUND_STATION_ACCURACY_DESIGNATOR = 0

# 0 = Reserved
# 1 = GCID 1
# 2 = GCID 2
# 3 = GCID 3
# 4 = GCID 4
# 5 = Reserved
# 6 = Reserved
# 7 = Unhealthy
LMT2_GROUND_STATION_CONTINUITY_INTEGRITY_DESIGNATOR = 1

# Range = -180 - +180 (degrees)
# Resolution 0.25 degrees
LMT2_LOCAL_MAGNETIC_VARIATION = -6.00

# Range = 0 - 25.5x10^-6 (meters/meter)
# Resolution 0.1x10^-6 m/m
LMT2_SIGMA_VERT_IONO_GRADIENT = 0.0000020

# Range = 16 - 781
# Resolution 3
LMT2_REFRACTIVITY_INDEX = 349

# Range = 0 - 25500 (meters)
# Resolution 100m
LMT2_SCALE_HEIGHT = 8000

# Range = 0 - 255
# Resolution 1
LMT2_REFRACTIVITY_UNCERTAINTY = 10

# Range = -90 - +90 (degrees)
# Resolution 0.0005 arcsec
LMT2_LATITUDE = 35.2436

# Range = -180 - +180 (degrees)
# Resolution 0.0005 arcsec
LMT2_LONGITUDE = -97.4711

# Range = -83886.07 - +83886.07 (meters)
# Resolution 0.01m
LMT2_REFERENCE_POINT_HEIGHT = 335.04

LMT2_ADDITIONAL_DATA_BLOCK = 1

# Range = 0 - 48
# Resolution 1
LMT2_REFERENCE_STATION_DATA_SELECTOR = 0

# Range = 2 - 510 (kilometers)
# Resolution 2km
LMT2_MAXIMUM_USE_DISTANCE = 200

# Range = 0 - 12.75
# Resolution 0.05
LMT2_KMD_E_POS_GPS = 10.00

# Range = 0 - 12.75
# Resolution 0.05
LMT2_KMD_E_CAT1_GPS = 10.10

# Range = 0 - 12.75
# Resolution 0.05
LMT2_KMD_E_POS_GLONASS = 10.20

# Range = 0 - 12.75
# Resolution 0.05
LMT2_KMD_E_CAT1_GLONASS = 10.30

#####################################################################
# LAAS Message Type 4 Parameters                                    #
# Final Approach Segment (FAS) Construction Data                    #
#####################################################################
LMT4_FAS_01_OPERATION_TYPE = 0
LMT4_FAS_01_SBAS_SERVICE_PROVIDER = 0
LMT4_FAS_01_AIRPORT_ID = KOUN
LMT4_FAS_01_RUNWAY_NUMBER = 35
LMT4_FAS_01_RUNWAY_LETTER =
LMT4_FAS_01_APPROACH_PERFORMANCE_DESIGNATOR = 1
LMT4_FAS_01_ROUTE_INDICATOR = A
LMT4_FAS_01_REFERENCE_PATH_DATA_SELECTOR = 4
LMT4_FAS_01_REFERENCE_PATH_ID = OUN4
LMT4_FAS_01_LTP_FTP_LATITUDE = 35.242125
LMT4_FAS_01_LTP_FTP_LONGITUDE = -97.4730
LMT4_FAS_01_LTP_FTP_HEIGHT =  332.3
LMT4_FAS_01_DELTA_FPAP_LATITUDE = 0.0142694
LMT4_FAS_01_DELTA_FPAP_LONGITUDE = -0.000105
LMT4_FAS_01_APPROACH_THRESHOLD_CROSSING_HEIGHT = 57.60
LMT4_FAS_01_APPROACH_TCH_UNITS_SELECTOR = 0
LMT4_FAS_01_GLIDE_PATH_ANGLE = 3.00
LMT4_FAS_01_COURSE_WIDTH_AT_THRESHOLD = 80.00
LMT4_FAS_01_DELTA_LENGTH_OFFSET = 0
LMT4_FAS_01_VERTICAL_ALERT_LIMIT = 20.0
LMT4_FAS_01_LATERAL_ALERT_LIMIT = 40.0

LMT4_FAS_02_OPERATION_TYPE = 0
LMT4_FAS_02_SBAS_SERVICE_PROVIDER = 0
LMT4_FAS_02_AIRPORT_ID = KOUN
LMT4_FAS_02_RUNWAY_NUMBER = 17
LMT4_FAS_02_RUNWAY_LETTER =
LMT4_FAS_02_APPROACH_PERFORMANCE_DESIGNATOR = 1
LMT4_FAS_02_ROUTE_INDICATOR = A
LMT4_FAS_02_REFERENCE_PATH_DATA_SELECTOR = 2
LMT4_FAS_02_REFERENCE_PATH_ID = OUN2
LMT4_FAS_02_LTP_FTP_LATITUDE = 35.2563944444
LMT4_FAS_02_LTP_FTP_LONGITUDE = -97.4731166667
LMT4_FAS_02_LTP_FTP_HEIGHT =  333.7
LMT4_FAS_02_DELTA_FPAP_LATITUDE = -0.0142694444
LMT4_FAS_02_DELTA_FPAP_LONGITUDE = 0.0001055556
LMT4_FAS_02_APPROACH_THRESHOLD_CROSSING_HEIGHT = 57.20
LMT4_FAS_02_APPROACH_TCH_UNITS_SELECTOR = 0
LMT4_FAS_02_GLIDE_PATH_ANGLE = 3.00
LMT4_FAS_02_COURSE_WIDTH_AT_THRESHOLD = 80.00
LMT4_FAS_02_DELTA_LENGTH_OFFSET = 0
LMT4_FAS_02_VERTICAL_ALERT_LIMIT = 20.0
LMT4_FAS_02_LATERAL_ALERT_LIMIT = 40.0

LMT4_FAS_03_OPERATION_TYPE = 0
LMT4_FAS_03_SBAS_SERVICE_PROVIDER = 0
LMT4_FAS_03_AIRPORT_ID = KOUN
LMT4_FAS_03_RUNWAY_NUMBER = 3
LMT4_FAS_03_RUNWAY_LETTER =
LMT4_FAS_03_APPROACH_PERFORMANCE_DESIGNATOR = 1
LMT4_FAS_03_ROUTE_INDICATOR = A
LMT4_FAS_03_REFERENCE_PATH_DATA_SELECTOR = 1
LMT4_FAS_03_REFERENCE_PATH_ID = OUN1
LMT4_FAS_03_LTP_FTP_LATITUDE = 35.2362166667
LMT4_FAS_03_LTP_FTP_LONGITUDE = -97.4758
LMT4_FAS_03_LTP_FTP_HEIGHT =  332.6
LMT4_FAS_03_DELTA_FPAP_LATITUDE = 0.0105222222
LMT4_FAS_03_DELTA_FPAP_LONGITUDE = 0.0093972222
LMT4_FAS_03_APPROACH_THRESHOLD_CROSSING_HEIGHT = 55.00
LMT4_FAS_03_APPROACH_TCH_UNITS_SELECTOR = 0
LMT4_FAS_03_GLIDE_PATH_ANGLE = 3.00
LMT4_FAS_03_COURSE_WIDTH_AT_THRESHOLD = 80.00
LMT4_FAS_03_DELTA_LENGTH_OFFSET = 0
LMT4_FAS_03_VERTICAL_ALERT_LIMIT = 20.0
LMT4_FAS_03_LATERAL_ALERT_LIMIT = 40.0

LMT4_FAS_04_OPERATION_TYPE = 0
LMT4_FAS_04_SBAS_SERVICE_PROVIDER = 0
LMT4_FAS_04_AIRPORT_ID = KOUN
LMT4_FAS_04_RUNWAY_NUMBER = 21
LMT4_FAS_04_RUNWAY_LETTER =
LMT4_FAS_04_APPROACH_PERFORMANCE_DESIGNATOR = 1
LMT4_FAS_04_ROUTE_INDICATOR = A
LMT4_FAS_04_REFERENCE_PATH_DATA_SELECTOR = 3
LMT4_FAS_04_REFERENCE_PATH_ID = OUN3
LMT4_FAS_04_LTP_FTP_LATITUDE = 35.2467388889
LMT4_FAS_04_LTP_FTP_LONGITUDE = -97.4664027778
LMT4_FAS_04_LTP_FTP_HEIGHT =  333.5
LMT4_FAS_04_DELTA_FPAP_LATITUDE = -0.0105222222
LMT4_FAS_04_DELTA_FPAP_LONGITUDE = -0.0093972222
LMT4_FAS_04_APPROACH_THRESHOLD_CROSSING_HEIGHT = 56.00
LMT4_FAS_04_APPROACH_TCH_UNITS_SELECTOR = 0
LMT4_FAS_04_GLIDE_PATH_ANGLE = 3.00
LMT4_FAS_04_COURSE_WIDTH_AT_THRESHOLD = 80.00
LMT4_FAS_04_DELTA_LENGTH_OFFSET = 0
LMT4_FAS_04_VERTICAL_ALERT_LIMIT = 20.0
LMT4_FAS_04_LATERAL_ALERT_LIMIT = 40.0

LMT4_FAS_05_OPERATION_TYPE = 0
LMT4_FAS_05_SBAS_SERVICE_PROVIDER = 0
LMT4_FAS_05_AIRPORT_ID = KOUN
LMT4_FAS_05_RUNWAY_NUMBER = 27
LMT4_FAS_05_RUNWAY_LETTER =
LMT4_FAS_05_APPROACH_PERFORMANCE_DESIGNATOR = 1
LMT4_FAS_05_ROUTE_INDICATOR = A
LMT4_FAS_05_REFERENCE_PATH_DATA_SELECTOR = 11
LMT4_FAS_05_REFERENCE_PATH_ID = GACW
LMT4_FAS_05_LTP_FTP_LATITUDE = 35.2107583333
LMT4_FAS_05_LTP_FTP_LONGITUDE = -97.4401472222
LMT4_FAS_05_LTP_FTP_HEIGHT =  319.6
LMT4_FAS_05_DELTA_FPAP_LATITUDE = 0.0000000000
LMT4_FAS_05_DELTA_FPAP_LONGITUDE = 0.0148044444
LMT4_FAS_05_APPROACH_THRESHOLD_CROSSING_HEIGHT = 55.00
LMT4_FAS_05_APPROACH_TCH_UNITS_SELECTOR = 0
LMT4_FAS_05_GLIDE_PATH_ANGLE = 3.00
LMT4_FAS_05_COURSE_WIDTH_AT_THRESHOLD = 80.00
LMT4_FAS_05_DELTA_LENGTH_OFFSET = 0
LMT4_FAS_05_VERTICAL_ALERT_LIMIT = 20.0
LMT4_FAS_05_LATERAL_ALERT_LIMIT = 40.0
